body{
  margin: 0;
  margin: 0 250px;

}

/* header{
  /* background-color: darkgrey; 
} */

.container{
  /* background-color: darkmagenta; */
  text-align: center;
  
}
.title img{
  margin-top: 40px;
  margin-bottom:10px
}

.menu{
  /* background-color: darkorange; */
  position: relative;
  overflow: hidden;
}  


.menu ul{
  margin:0px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0px;
  list-style-type: none;
  position: relative;
  left: 50%;
  float: left;
  
}

.menu ul li{
  position: relative;
  left: -50%;
  float: left;
  /* padding-right: 70px; */
  margin-left: 60px;
  /* margin-right: auto; */
  color: #777;
  
}

h1{
  background-color:#D2691E;
  color:white;
  font-size: 15px;
  font-weight: normal;
  padding:15px;
  background-color: #D2691E;
  border-radius: 10px;
  margin-top: 20px;
  
}


h2{
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
  border-radius: 10px;
  border-width:thin;
  border-color:#aaa;
  border-style:solid
}

h3{
  color: #D2691E;
  font-size: 16px;
  padding-right: 15px;
  padding-left :15px;
}

p{
  color: #777;
  padding-right: 15px;
  padding-left :15px;
}

.footer{
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
}

.footer p:last-child{
  font-size: 12px;

}

table{
  border-collapse: collapse;  
  /* max-width: 1400px; */
  /* width: 100%; */

}

table th{
  padding: 15px 40px;
  color: #777;
  /* max-width: 100%; */
}

table td{
  color: #777;
  /* max-width: 100%; */
}

span{
  color: #D2691E;
}

thead tr{
  background-color: #eee;
}
